*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #476072;
}
nav{
    font-size: 20px;
    background-color:#548CA8;
    color: white;
    align-items: center;
    width: 90%;
    margin: 0% 5%;
    display: inline-flex;
    border-radius: 15px;
    border-width: 15px;
}
img{
    width: 150px;
    height: 100px;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.logo{
    margin-left: 35%;
    margin-right: 10%;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
    display:flex;
    justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.center{
    margin: 5% 15%;
    border-width: 10px;
    border-radius: 10px;
    background-color: #334257;
    color: #000;
    max-height: 40%;
    max-width: 70%;
}
.center input[type=button]{
    border-color: #334257;
    background-image: -webkit-linear-gradient(45deg, #548CA8 50%, transparent 50%);
    background-image: linear-gradient(45deg, #548CA8 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin-top: 1%;
    font-size: 15px;
    height: auto;
    border-radius: 5px;
}
.center input[type=button]:hover {
    border-color: #334257;
    color: #000;
    background-position: 0;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
.center input[type=button]:active {
    transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
  }
.wrapper{
 display: flex;
  justify-content: center;   
}
.quotes{
    background-color: #EEEEEE;
    margin: 5%;
    width: auto;
    text-align: center;
    border-width: 10px;
    border-radius: 10px;
    border-color: #000;
    height: auto;
    font-size: 30px;
    transition: 1000ms linear;
}
@media screen and (max-width:900px){

    .center{
        margin: 2% 10%;
        max-width: 90%;
    }
    .quotes{
        width: auto;
        max-height: 30%;
        font-size: 20px;        
    }
    .logo{
        margin-left:25%;
    }
}
@media screen and (max-width:500px){
    img{
        margin-left:10%;
    }
    .logo{
        margin-left:5%;
        margin-right:10%;
    }
}
