*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body, html{
    height: 100%;
}
body{
    background-color: #2B580C;
}
nav{
    font-size: 20px;
    background-color:#639A67;
    color: white;
    align-items: center;
    width: 100%;
    display: inline-flex;
    max-height: 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
img{
    width: 7.5em;
    height: 5em;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.logo{
    margin-left: 35%;
    margin-right: 10%;
    font-size: 1.5rem;
}

.center{
    margin: 5% 10%;
    border-width: 10px;
    border-radius: 10px;
    background-color: #D8EBB5;
    color: #000;
    max-height: 40%;
    max-width: 80%;
}
.center input[type=button]{
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    margin: 5%;
    font-size: 15px;
    height: auto;
    border-radius: 5px;
}
.center input[type=button]:hover {
    border-color: #334257;
    color: #000;
    background-position: 0;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
  }
.center input[type=button]:active {
    transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
  }
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.quotes{
    background-color: #EEEEEE;
    margin: 5%;
    width: auto;
    text-align: center;
    border-width: 10px;
    border-radius: 10px;
    border-color: #000;
    height: auto;
    font-size: 30px;
    transition: 1000ms linear;
}
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top:5%;
    margin-bottom:5%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:900px){
    img{
        margin-left:10%;
        width: 6em;
        height: 3em;
    }
    .center{
        margin: 2% 10%;
        max-width: 90%;
    }
    .quotes{
        width: auto;
        max-height: 30%;
        font-size: 20px;        
    }
    .logo{
        margin-left:25%;
    }
}
@media screen and (max-width:500px){
    img{
        margin-left:10%;
        width: 5em;
        height: 2.5em;
    }
    .center{
        margin: 10% 5%;
        max-width: 90%;
    }
    .logo{
        margin-left:5%;
        margin-right:10%;
    }
    
}
